MOODLE_BASE_URL=https://sea.acatlan.unam.mx
MOODLE_USER=tu_usuario_o_correo
MOODLE_PASS=tu_contrasea
MOODLE_COURSE_ID=22842

# Clave secreta para proteger tu Webhook
API_SECRET=mi_clave_secreta

# Token de Hugging Face (obténlo en https://huggingface.co/settings/tokens)
HF_TOKEN=hf_tu_token_aqui

# Token de ngrok (obténlo gratis en https://dashboard.ngrok.com/get-started/your-authtoken)
NGROK_AUTHTOKEN=tu_ngrok_authtoken
